<!-- your html code here -->
<div class="container mb-3 pb-3">
    <h4>Contact</h4>
    <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
    </p>
    
        <form class="bg-light rounded border col-10 ml-5 mr-5">
            <div class="row mb-3 mr-1 ml-1">
            <div class="col mt-3">
                <label for="exampleFormControlInput1"><strong>Your E-mail</strong></label>
            </div>
            <div class="col-8 mt-3">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>          
        </div>

        <div class="row mb-3 mr-1 ml-1">
            <div class="col">
                <label for="exampleFormControlTextarea1"><strong>Your message</strong></label>
            </div>
            <div class="col-8">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>          
        </div>

        <div class="row mb-3">
            <div class="col mb-3 mr-3">
                <button type="button" class="btn btn-primary btn-sm float-right">Submit</button>
            </div>            
        </div>   

        </form>
          
</div>