<!-- your html code here -->


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="assets/css/style.css?v0.1" rel="stylesheet">
<!-- your html code here -->

<div class="container">

    <div class="row">

        <div class="col-12 text-dark text-center font-weight-bold">



            <div class="card bg-dark text-white font-weight-bold">
                <img src="././assets/img/bg.jpg" class="card-img" alt="...">

                <div class="card-img-overlay">
                    <h1 class="card-text display-1 text-dark font-weight-bold bg-light">One Page Wonder</h1>
                    <h1 class="card-text display-3 text-dark font-weight-bold bg-light">Will Knock Your Socks Off</h1>
                </div>
            </div>



        </div>

    </div>